#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  width: 100vw;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  width: 100%;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.4em 0.8em;
  font-size: 1em;
  font-weight: 500;
  width: fit-content;
  height: fit-content;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.Wrapp {
  width: 100%;
  height: 100vh;
}
.Head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}
.MovieTile {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  outline: 1px solid wheat;
  border-radius: 7px;
  margin: 2px 0px;
  padding: 0.2rem 0.5rem;
}
.MovieButts {
  display: flex;
  gap: 0.6rem;
}
.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.MovieTitle {
  font-size: 16px;
  /* display: flex; */
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}
.AddButton {
  font-size: 21px;
  font-weight: 600;
}
.watched {
  text-decoration: line-through;
  opacity: 0.5;
}
.AddFilmTile {
  margin-bottom: 2rem;
}
.addFilmTileFlex {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.lowerLine {
  display: flex;
  align-items: center;
  margin: auto;
  margin-bottom: 1rem;
  width: 90%;
  gap: 1rem;
}
.focus {
  background-color: #5d4e4e;
}
